<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= image_tag @user.avatar.variant(resize:'100x100'), 
        class: 'avatar avatar_edit' if @user.avatar.attached? %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>